{% extends 'base.html' %}

{% block content %}
<div class='narrow-field'>
    <h1>Expenses</h1>
    <form method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </form>
</div>
{% endblock content %}